[submodule "charon"]
	path = charon
	url = https://github.com/AeneasVerif/charon
[submodule "tests-crates/slice_deque"]
	path = tests-crates/slice_deque
	url = https://github.com/gnzlbg/slice_deque
[submodule "tests-crates/rust-smallvec"]
	path = tests-crates/rust-smallvec
	url = https://github.com/servo/rust-smallvec
[submodule "tests-crates/ash"]
	path = tests-crates/ash
	url = https://github.com/ash-rs/ash
[submodule "tests-crates/claxon"]
	path = tests-crates/claxon
	url = https://github.com/ruuda/claxon
[submodule "tests-crates/rust-stackvector"]
	path = tests-crates/rust-stackvector
	url = https://github.com/Alexhuszagh/rust-stackvector
